<section class = "home">
  <div>
    <h2 class = "home-heading"> Welcome to the todo homepage </h2>
  </div>
  <div>
    <p> If you are a new user, <%= link_to "Sign up here", new_user_path %> </p>
  </div>
</section>
