<div class = "Home_title">
  <h2 > Welcome to the todo homepage </h2>
</div>
<div class="Home-authenticate">
  <p> If you are a new user, <%= link_to "Sign up here", new_user_path %> </p>
</div>
<div class="Home-authenticate">
  <p> If you are a new user, <%= link_to "Sign in here", new_sessions_path %> </p>
</div>
