body{
  font-family:  Open Sans,sans-serif;
  line-height: 1;
  max-width: 460px;
  margin: 0 auto;
  margin-top:60px;
}

input{
  cursor: pointer;
}

.TodoPage-title {
  font-size: 20px;
  line-height: 1.6;
  color: #453C52;
  font-weight: 600;
  margin-bottom: 12px;
}

.AddTodo {
  display: flex;
  height:32px;
  align-items: stretch;
  margin-bottom: 24px;
}

.TodoSelection {
  margin-bottom: 20px;
}

.AddTodo-text{
  padding: 6px 12px;
  font-size: 14px;
  color: #726A7E;
  margin-right:10px;
  border-radius: 4px;
  border:1px solid #BFB8CC;
}

.AddTodo-date {
  padding: 6px;
  font-size: 14px;
  width:45px;
  padding-left:1.6rem;
  margin-right:10px;
  border-radius:4px;
  border:1px solid #BFB8CC;
}

.AddTodo-button{
  font-size : 14px;
  color:white;
  background-color: #48BB78;
  border:1px solid transparent;
  padding:6px 22px;
  border-radius:4px;
  cursor: pointer;
}

.TodoSectionTitle{
  display: flex;
  color: #453C52;
  align-items:center;
  margin-bottom: 8px;
}

.TodoSectionTitle-text{
  font-size : 14px;
  font-weight: 600;
  margin-right:8px;
  line-height:1.4;
}

.TodoSectionTitle-remainingCount{
  font-size: 12px;
}

ul {
  list-style: none;
}

.TodoItem{
  font-size: 14px;
  margin-left: 8px;
  margin-bottom:6px;
  color:#453C52;
}

.TodoItem-container{
  display: inline-flex;
  padding: 2px 8px;
  align-items :center;
  color:#453C52;

}

.TodoItem-checkbox{
  width: 16px;
  height:16px;
  margin-right: 0.6rem;
}

.TodoItem-image{
  width: 20px;
  height:20px;
  margin-left:1rem;
  cursor: pointer;
  visibility: hidden;

}

.TodoItem-overdueLebel{
  margin-left: 10px;
  color: #C53030;
  font-size: 12px;
  display:inline;
}

.TodoItem-delete{
  visibility: hidden;
  margin-left: 8px;
}

.TodoItem-container:hover{
  background-color: #F1EDF7;
  border-radius: 4px;
  cursor:pointer;
}

.TodoItem-container:hover .TodoItem-image{
   visibility: visible;
}

.TodoItem-date{
  margin-left: 10px;
  font-size: 12px;
  display:inline;
  color: #726A7E;
}

.todocompleted{
  text-decoration: line-through;
}
