.NewUsers-title {
  margin-bottom: 40px;
  font-size : 30px;
}

.Form-section {
  margin-bottom: 30px;
}

.Form-input {
  font-size: 18px;
  padding: 7px;
}

.FormInput-label {
  color: #555555 ;
  margin-bottom: 8px;
  display: block;
}

.Form-submit {
  padding: 10px;
  font-size: 15px;
  margin: 20px 0px;
  cursor: pointer;
  width: 15.7rem;
  background-color: #48BB78;
  color:white;
  border : none ;
  border-radius: 8px;
}
